# INTRO TO PROGRAMMING

Get started with Python, if you have no coding experience.

# Script 1

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print("Your message here!")

Your message here!

In [3]:
#Comment

In [4]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [5]:
# TODO: Set the value of the births_per_min variable
births_per_min = 250

# TODO: Set the value of the births_per_day variable
births_per_day = 250 * hours_per_day * mins_per_hour

In [6]:
# Load the data from the titanic competition
import pandas as pd
titanic_data = pd.read_csv("C:/Users/Facu/Dropbox/Cursos online/Kaggle/Titanic/train.csv")

# Show the first five rows of the data
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
# Number of total passengers
total = len(titanic_data)
print(total)

# Number of passengers who survived
survived = (titanic_data.Survived == 1).sum()
print(survived)

# Number of passengers under 18
minors = (titanic_data.Age < 18).sum()
print(minors)

891
342
113

In [10]:
# TODO: Fill in the value of the survived_fraction variable
survived_fraction = survived/total

# Print the value of the variable
print(survived_fraction)

# TODO: Fill in the value of the minors_fraction variable
minors_fraction = minors/total

# Print the value of the variable
print(minors_fraction)

0.3838383838383838
0.12682379349046016

# Script 2

In [11]:
# TODO: Complete the function
def get_expected_cost(beds, baths):
    value = 80000 + beds*30000 + baths*10000
    return value

In [12]:
# TODO: Use the get_expected_cost function to fill in each value
option_one = get_expected_cost(2,3)
option_two = get_expected_cost(3,2)
option_three = get_expected_cost(3,3)
option_four = get_expected_cost(3,4)

print(option_one)
print(option_two)
print(option_three)
print(option_four)

170000
190000
200000
210000

In [13]:
# TODO: Finish defining the function
def get_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    cost = (sqft_walls + sqft_ceiling) / sqft_per_gallon * cost_per_gallon
    return cost

In [15]:
# TODO: Set the project_cost variable to the cost of the project
project_cost = get_cost(432, 144, 400, 15)
project_cost

21.599999999999998

In [17]:
import math 
test_value = 2.001

rounded_value = math.ceil(test_value)
print(rounded_value)

3

In [18]:
def get_actual_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    cost = math.ceil((sqft_walls + sqft_ceiling) / sqft_per_gallon) * cost_per_gallon
    return cost

In [19]:
get_actual_cost(432, 144, 400, 15)

30

In [20]:
get_actual_cost(594, 288, 400, 15)

45

# Script 3

In [21]:
# Define a float
y = 1.
print(y)
print(type(y))

# Convert float to integer with the int function
z = int(y)
print(z)
print(type(z))

1.0
<class 'float'>
1
<class 'int'>

In [22]:
# Uncomment and run this code to get started!
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

1
1
-3
-2

In [23]:
# Uncomment and run this code to get started!
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

3
-3.1
<class 'str'>
0

In [25]:
# TODO: Complete the function
def get_expected_cost(beds, baths, has_basement):
    value = 80000 + 30000*beds + 10000*baths + 40000*has_basement
    return value

In [26]:
print(False * False)
print(True * False)
print(False * True)
print(True * True)
print(False * True * True * True)

0
0
0
1
0

In [27]:
def cost_of_project(engraving, solid_gold):
    cost = (50 + 7*len(engraving))*(not solid_gold) + (100 + 10*len(engraving))*solid_gold
    return cost

In [28]:
project_one = cost_of_project("Charlie+Denver", True)
print(project_one)

240

In [29]:
project_two = cost_of_project("08/10/2000", False)
print(project_two)

120

# Script 4

In [30]:
# TODO: Edit the function to return the correct grade for different scores
def get_grade(score):
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    return grade

In [31]:
def cost_of_project(engraving, solid_gold):
    if solid_gold == True:
        cost = 100 + 10*len(engraving)
    else:
        cost = 50 + 7*len(engraving)
    return cost

In [32]:
# TODO: Edit the function to return the correct bill for different
# values of num_gallons
def get_water_bill(num_gallons):
    if num_gallons <= 8000:
        bill = 5 * num_gallons / 1000
    elif num_gallons <= 22000:
        bill = 6 * num_gallons / 1000
    elif num_gallons <= 30000:
        bill = 7 * num_gallons / 1000
    else:
        bill = 10 * num_gallons / 1000
    return bill

In [33]:
# TODO: Edit the function to return the correct bill for different
# values of GB
def get_phone_bill(gb):
    if gb <= 15:
        bill = 100
    else:
        bill = 100 + 100 * (gb-15)
    return bill

In [34]:
def get_labels(food_type, serving_size, calories_per_serving, saturated_fat_g, trans_fat_g, sodium_mg, sugars_g):
    # Print messages based on findings
    if excess_sugar(sugars_g, calories_per_serving) == True:
        print("EXCESO AZÚCARES / EXCESS SUGAR")
    if excess_saturated_fat(saturated_fat_g, calories_per_serving) == True:
        print("EXCESO GRASAS SATURADAS / EXCESS SATURATED FAT")
    if excess_trans_fat(trans_fat_g, calories_per_serving) == True:
        print("EXCESO GRASAS TRANS / EXCESS TRANS FAT")
    if excess_sodium(calories_per_serving, sodium_mg) == True:
        print("EXCESO SODIO / EXCESS SODIUM")
    if excess_calories(food_type, calories_per_serving, serving_size) == True:
        print("EXCESO CALORÍAS / EXCESS CALORIES")

In [ ]:
# bologna https://world.openfoodfacts.org/product/4099100179378/bologna
get_labels("solid", 32, 110, 2.5, 0, 400, 1)

In [ ]:
# zucaritas cereal https://world.openfoodfacts.org/product/7501008023624/zucaritas-kellogg-s
# TODO: Uncomment the line below, fill in the values, and run the function
get_labels("solid", 40,150,0,0,150,16)

In [ ]:
# mozzarella sticks https://world-es.openfoodfacts.org/producto/0062325540104/mozzarella-cheese-sticks
# TODO: Uncomment the line below, fill in the values, and run the function
get_labels("solid", 21,68,3,0.2,208,0)

In [ ]:
# pillsbury cookies https://world.openfoodfacts.org/product/0069700118545/biscuits-au-sucre-pretraches
# TODO: Uncomment the line below, fill in the values, and run the function
get_labels("solid", 30, 120, 1.5, 0.1, 110, 9)

# Script 5

In [39]:
# Do not change: Initial menu for your restaurant
menu = ['stewed meat with onions', 'bean soup', 'risotto with trout and shrimp',
       'fish soup with cream and onion', 'gyro']

# TODO: remove 'bean soup', and add 'roasted beet salad' to the end of the menu
menu.remove('bean soup')
menu.append('roasted beet salad')

In [40]:
# Do not change: Number of customers each day for the last month
num_customers = [137, 147, 135, 128, 170, 174, 165, 146, 126, 159,
                 141, 148, 132, 147, 168, 153, 170, 161, 148, 152,
                 141, 151, 131, 149, 164, 163, 143, 143, 166, 171]

# TODO: Fill in values for the variables below
avg_first_seven = sum(num_customers[:7]) / len(num_customers[:7])
avg_last_seven = sum(num_customers[-7:]) / len(num_customers[-7:])
max_month = max(num_customers)
min_month = min(num_customers)

In [42]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
print(flowers.split(","))

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [43]:
# DO not change: Define two Python strings
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"

# TODO: Convert strings into Python lists
letters = alphabet.split(".")
formatted_address = address.split(",")

In [44]:
test_ratings = [1, 2, 3, 4, 5]
test_liked = [i>=4 for i in test_ratings]
print(test_liked)

[False, False, False, True, True]

In [45]:
def percentage_liked(ratings):
    list_liked = [i>=4 for i in ratings]
    # TODO: Complete the function
    percentage_liked = sum(list_liked) / len(ratings)
    return percentage_liked

# Do not change: should return 0.5
percentage_liked([1, 2, 3, 4, 5, 4, 5, 1])

0.5

In [46]:
# TODO: Edit the function
def percentage_growth(num_users, yrs_ago):
    growth = (num_users[len(num_users)-1] - num_users[len(num_users)-yrs_ago-1]) / num_users[len(num_users)-yrs_ago-1]
    return growth

# Do not change: Variable for calculating some test examples
num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]

# Do not change: Should return .036
print(percentage_growth(num_users_test, 1))

# Do not change: Should return 0.66
print(percentage_growth(num_users_test, 7))

0.03629533421163837
0.6615639847417742